# {{ ansible_managed }}

{% for address in listenaddresses %}
ListenAddress {{address}}
{% endfor %}

HostKey {{ keyfile }}

{% if allowusers is defined %}
AllowUsers {% for user in allowusers %} {{ user }}{% endfor %}
{% endif %}

PrintMotd no
